{% extends 'alimentos/layout.html.twig' %}

{% block contenido %}

    <h1>Login</h1>
    <form name="formLogin" action="{{ path('app_alimentos_login') }}" method="POST">
        <p>Nombre:
            <input type="text" name="nomUsuario">
        </p>
        <p>Contraseña:
            <input type="password" name="passUsuario">
        </p>
        <input type="submit" value="Ingresar">
    </form>

    <a href="{{ path('app_alimentos_registro')}}">¿Aun no se ha registrado?</a>
    <br>

    {% if mensaje is defined %}
		<b>
			<span style="color: red;">{{ mensaje }}</span>
		</b>
	{% endif %}

  {% endblock %}